/* css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole generali*/
li {
    list-style-type: none;
}

ul {
    display: flex;
    justify-content: center;
}

.grey {
    background-color: lightgrey;
}

/* header */
#nav-container {
    background-color: aquamarine;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar {
    background-color: yellow;
    height: 30px;
    width: 60%;
    display: flex;
}
 
.nav-items {
    width: 20%;
}

#nav-list {
    flex-grow: 1;
}


/* Jumbotron */
#jt-background {
    background-color: blue;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#jt-container {
    background-color: hotpink;
    width: 40%;
    height: 90%;
}

/*main*/

.main-section {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container {
    width: 50%;
    height: 90%;
    background-color: blue;
    display: flex;
}

.large-container {
    flex-grow: 1;
}

.small-container {
    width: 40%;
    background-color: pink;
}

/* sezione xlarge */
.xlarge-section {
     height: 550px;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.xlarge-container {
    width: 50%;
    height: 90%;
    background-color: green;
}

/* footer */
footer {
    background-color: rgb(36, 36, 36);
}

#contatti {
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;        
}

.footer-container {
    width: 50%;
    height: 90%;
    display: flex;
}

.footer-item-sm {
    background-color: salmon;
    width: calc(100% /3);
}

.footer-item-lg {
    background-color: cadetblue;
    flex-grow: 1;
    display: flex;
}

.col-large {
    width: 25%;
    height: 100%;
    border: 1px dotted white;
}